* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.container {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    background-color: #FAFAFA;
    padding: 150px 0 100px 0;
    min-height: 70vh;
    display: flex;
    align-items: center;

}


.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo {

    font-size: 25px;
    font-weight: 800;
    color: #02b1f4;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #323232;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #02b1f4;
}



#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;


}

.header-txt {
    width: 50%;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.logo {
    font-size:30px;
    background-color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-color: black;
    text-decoration: solid #030200;  
}


form {
    background-color: #02b1f4;
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 420px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
text-align: center;

}

form h2 {
    font-size: 30px;
    color:antiquewhite;
    margin-bottom: 35px;
    font-family: montserrat;
}

input {
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border: 2px solid  blue;
    margin-bottom: 30px;
    outline: none;
    color: antiquewhite;
    font-size: 16px;
}

::placeholder {
    color: #f7f6fa;
}
.btn {
    background-color: #02b1f4;
    border: 2px solid #02b1f4;
cursor: pointer;
}

.btn:hover {
    background-color: #0565f7;
    border: 2px solid #0565f7;
}

@media (max-width:991px) {
    body {
        padding: 30px;
    }

    form {
        width: 340px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;}



body {
    font-family: 'Poppins', sans-serif;
}


img {
    max-width: 100%;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    background-color: #FAFAFA;
    padding: 150px 0 100px 0;
    min-height: 70vh;
    display: flex;
    align-items: center;

}


.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo {

    font-size: 25px;
    font-weight: 800;
    color: #02b1f4;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #0a0a0a;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #080808;
}



#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;


}

.header-txt {
    width: 50%;
}

.header-txt h1 {
    line-height: 1;
    color: #faf4f4;
    font-size: 75px;
    margin-bottom: 10px;
}

.header-txt {
    font-size: 16px;
    color: #faf5f5;
    margin-bottom: 45px;
}


.header-img {
    width: 50%;

}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: blue;
    color: #FFFF;
    border-radius: 15px;
}

.about {
    padding: 100px ;
    display: flex;

}

.about-img {
    width: 500%;
}

.about-img img {
    width: 500px;
    border-radius: 15px;
}

.about-txt {
    width: 50%;
    margin-left: 25px;
}

.about-txt h2 {
    color: #faf6f6;
    font-size: 50px;
    margin-bottom: 15px;
}

.about-txt p {
    font-size: 16px;
    color: #fffcfc;
}

.servicios {
    padding: 50px 0 100px 0;
    text-align: center;
    background-color: #fafafa;

}

.servicios h2 {
    color: #f8f3f3;
    font-size: 50px;
    margin-bottom: 15px;
}

.servicios-content {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;

}

.servicio-1 {
    padding: 25px;
    box-shadow: 0 0 20px rgba(250, 245, 245, 0.945);
    flex-basis: calc(25% - 20px);

}

.servicio-1 i {
    font-size: 30px;
    color: #02b1f4;
    margin-bottom: 15px;
}


.servicio-1 h3 {
    font-size: 20px;
    color: #f8f5f5;
    text-transform: capitalize;
}

.formulario {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
padding: 50px;
width: 500px;
text-align: center;
box-shadow: 0 0 20px rgba(243, 240, 240, 0.925);

}
form h2 {
    font-size: 25px;
    color: #f7f3f3;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.input-container {
    position: relative;
}

.input-container > i {
    padding: 14px;
    border-radius: 50%;
    background-color: #02b1f4;
    color: #fafafa;
    position: absolute;
    font-size: 20px;
    top: 4px;
    left: 10px;
}

.input-container > input, textarea {
    padding: 17px 15px 17px 65px;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 35px;
    background-color: transparent;
    border: 2px solid #02b1f4;
    font-size: 16px;
    outline: none;
    color: #f1eded;
}

textarea {
    font-family: 'poppins', sans-serif;
    height: 150px;
}

::placeholder {
    color: #faf8f8;
    font-size: 16px;
}

.btn {
    background-color: blue;
    padding: 17px 30px;
    width: 100%;
    border: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    color: #FFFF;
    font-size: 15px;
}

.footer {
    padding: 50px;
    background-color: #FAFAFA;

}

.footer-content {
    display: flex;
    align-items: center;
   justify-content: space-between;
}


.link ul {
    display: flex;
     align-items: center;
    justify-content: space-between;

}

.link ul li {
    margin-right: 50px;

}

.link ul li a  {

    color: #fdfafa;
    font-size: 17px;
}

.link ul li a:hover {
    color: #02b1f4;
}

@media (max-width:991px) {
    .menu { padding: 20px;
    
    
    }
    .menu label {
        display: initial;

    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #FFFF;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }

    .header-content {
        flex-direction: column;
    }

    .header-txt {
        text-align: center;
        width: 100%;
        margin-bottom: 25px;
    }

    .header-img {
        width: 100%;
    }

    .header-img img {
        width: 100%;
    }

    .about {
        padding: 30px;
        flex-direction: column;
    
    }

    .about-img {
        width: 100%;
        order: 2;

    }

    .about-img img {
        width: 100%;
    }

    .about-txt { 
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-bottom: 25px;
    }

    .servicios {
        padding: 30px;
    }

    .servicios-content {
        margin-top:  25px;
        flex-direction: column;
    }

    .servicio-1 {
        margin-bottom: 20px;
    }

    .formulario {
        padding: 30px;
        margin-top: 0;
        margin-bottom: 0;

    }

    .footer { 
        padding: 30px;
    }

    .footer-content { 
        flex-direction: column;
        text-align: center;

    }

    .link ul {
        flex-direction: column;
    }

    .link ul li {
        margin: 0 0 15px 0;
    }


}